* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-image: url(../els/vhoenestly.jpg);
  background-repeat: no-repeat;
  background-position-y: 30%;
  background-size: 120%;
  background-color: #9D0380;
}
a {
  color: white;
  text-decoration: none;
}
#formtitle {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: whitesmoke;
  font-weight: 100;
  font: 100;
}

.wrapper {
  margin: 300px auto;
}

.wraperi {
  display: flex;
  width: 100%;
}
#addcontwrap {
  position: relative;
  margin: auto;
  top: 20%;
  width: 600px;
}

#logo {
  position: absolute;
  text-align: center;
  width: 1000px;
  top: 50%;
  left: 300px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
  font: 100;
  /* font: 100%/1.5 "Roboto", Verdana, sans-serif; */
}
#about {
  position: absolute;
  left: 30%;
  width: 600px;
  height: 600px;
  text-align: center;
  top: 30%;
}
#about h3 {
  position: relative;
  margin: auto;
  top: 80px;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
  font: 100;
}
#about p {
  color: white;
  position: relative;
  top: 20%;
  font-size: 17px;
}

.sticky-menu {
  position: absolute;
  top: 40vh;
}
.sticky-menu.left {
  left: 0;
}
.sticky-menu.right {
  right: 0;
  text-align: right;
}
.sticky-menu nav {
  position: relative;
}
.sticky-menu nav label[for="trigger"] {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  padding: 6px 11px;
  background: #fff;
  color: #1976d2;
  border-radius: 4px;
  margin: 6px;
  box-shadow: 0 2px 4px rgba(15, 15, 15, 0.25);
}
.sticky-menu nav #trigger {
  display: none;
}
.sticky-menu nav #trigger:checked + ul {
  display: block;
}
.sticky-menu nav #trigger:checked + ul li {
  opacity: 0;
  animation: fadein 500ms ease-in-out forwards;
  display: block;
}
.sticky-menu nav ul {
  display: none;
  position: absolute;
  border-radius: 4px;
  margin: 0 6px;
  padding: 4px;
  list-style: none;
  background: #fff;
}
.right .sticky-menu nav ul {
  right: 0;
}
.left .sticky-menu nav ul {
  left: 0;
}
.sticky-menu nav ul li {
  display: none;
}
.sticky-menu nav ul a {
  display: block;
  color: #1976d2;
  text-decoration: none;
  border-radius: 4px;
  padding: 4px 10px;
}
.sticky-menu nav ul a:hover {
  color: #fff;
  background: #004ba0;
}

.sticky-menu.inline #trigger {
  display: none;
}
.sticky-menu.inline #trigger:checked + ul {
  display: block;
  width: 300px;
}
.sticky-menu.inline #trigger:checked + ul li {
  opacity: 0;
  animation: fadein 500ms ease-in-out forwards;
  display: inline-block;
  white-space: nowrap;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "UniformRnd-Regular";
  src: url("fonts/Miller Type Foundry - UniformRnd-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "UniformRnd-Bold";
  src: url("fonts/Miller Type Foundry - UniformRnd-Bold.otf") format("opentype");
}
.jellyboSearchButton003Wrapper {
  display: inline-block;
  position: relative;
  font-family: "UniformRnd-Regular";
}
.jellyboSearchButton003Wrapper .animation {
  position: absolute;
  top: 0px;
  left: 0px;
}
.jellyboSearchButton003Wrapper .input::-ms-clear {
  display: none;
}
.jellyboSearchButton003Wrapper .input {
  position: absolute;
  background: transparent;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  padding: 10px 0px 7px 0px;
  border: 0px;
}
.jellyboSearchButton003Wrapper .input:focus {
  outline: none;
}
.jellyboSearchButton003Wrapper input::-webkit-input-placeholder {
  color: #fff;
}
.jellyboSearchButton003Wrapper input:-moz-placeholder {
  color: #fff;
}
.jellyboSearchButton003Wrapper textarea::-webkit-input-placeholder {
  color: #fff;
}
.jellyboSearchButton003Wrapper textarea:-moz-placeholder {
  color: #fff;
}
.jellyboSearchButton003Wrapper .button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.jellyboSearchButton003Wrapper .listWrapper {
  position: absolute;
  z-index: 1;
}
.jellyboSearchButton003Wrapper .list {
  opacity: 1;
  color: #fff;
  margin: 0px;
  padding: 0px;
  background: transparent;
  border: 0px;
  text-align: left;
  box-sizing: border-box;
}
.jellyboSearchButton003Wrapper .list .item {
  list-style: none;
}
.jellyboSearchButton003Wrapper .list .item.active {
  background: rgba(255, 255, 255, 0.25) !important;
}
.jellyboSearchButton003Wrapper .list .item:hover {
  background: rgba(255, 255, 255, 0.15);
}
.jellyboSearchButton003Wrapper .list .item span {
  width: 100%;
  display: inline-block;
  padding: 7px 10px 7px 10px;
  cursor: pointer;
}
/*# sourceMappingURL=searchbutton.css.map */
.jellybo-SearchBar003 {
  margin-top: 0;
}

button {
  margin: auto;
  -webkit-box-shadow: 0 0 0 2px white;
  box-shadow: 0 0 0 2px white;
  background: none;
  display: block;
  padding: 10px 8px;
  border: none;
  color: white;
  max-width: 200px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  height: 50px;
  width: 200px;
  cursor: pointer;
  outline: none;
  position: relative;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
  -webkit-transition: all 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
  -moz-transition: all 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
  -ms-transition: all 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
  -o-transition: all 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
}
button:hover,
button:focus {
  color: #16c1ff;
  letter-spacing: 1.4px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.59);
}
button span {
  position: absolute;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background: white;
  transition: width 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9),
    height 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
  -webkit-transition: width 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9),
    height 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
  -moz-transition: width 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9),
    height 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
  -ms-transition: width 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9),
    height 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
  -o-transition: width 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9),
    height 0.4s cubic-bezier(0.54, 0.09, 0.29, 0.9);
  z-index: -1;
}
button:hover span,
button:focus span {
  width: 400%;
  height: 400%;
}
/* *,
:before,
:after {
  box-sizing: border-box;
} */

form {
  width: 320px;
  margin: 45px auto;
}
form hr.sep {
  background: #2196f3;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}

.group {
  position: relative;
  margin: 45px 0;
}

input,
textarea {
  background: none;
  color: white;
  font-size: 15px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: white;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

.group label {
  font-family: sans-serif;
  color: white;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}
.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196f3;
  transition: 300ms ease all;
  left: 0%;
}

.selectMenu {
  margin: auto;
  position: relative;
  width: 200px;
  font-family: sans-serif, helvetica;
  color: white;
  transform-style: preserve-3d;
  perspective: 1500;
}
.selectMenu span {
  height: inherit;
  margin-left: 20px;
  line-height: 60px;
}
.selectMenu .front,
.selectMenu .back {
  -moz-transition: all 0.32s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-transition: all 0.32s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: all 0.32s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.selectMenu .front {
  margin-top: 30px;
  width: 200px;
  height: 60px;
  font-size: 19px;
  background-color: #325ec7;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}
.selectMenu .front:after {
  position: absolute;
  content: "";
  top: 26px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
}
.selectMenu .back {
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.selectMenu ul {
  position: absolute;
  width: calc(100% - 40px);
  top: -140px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.32);
  list-style: none;
  z-index: 1;
}
.selectMenu ul li {
  color: #4471dd;
  line-height: 35px;
  cursor: pointer;
}
.selectMenu ul li:hover {
  background: #e7e7e7;
}
.selectMenu.flip .front {
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.selectMenu.flip .back {
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
#contact-form {
  position: relative;
  width: 600px;
  margin: auto;
  top: 30vh;
}

.faiconcustom {
  color: white;
  font-size: 20px;
}

#topbuttons {
  margin-left: 15px;
  margin-top: 15px;
}

#topbuttons div{
  margin-top: 10px;
}

#topbuttons i:hover{
  color: burlywood;
}

#searchmessage {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
  font: 100;
  position: absolute;
  left: 30%;
  width: 545px;
  height: 600px;
  top: 17%;
  text-align: center;
  padding-top: 50px;
}

#searchresults {
  font-family: sans-serif;
  color: white;
  position: absolute;
  left: 30%;
  width: 400px;
  height: 600px;
  top: 30%;
  padding-top: 50px;
}

.contentitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
}
.contentitem .box {
  padding: 15px;
}

.contentimage {
  width: 340px;
    max-height: 470px;
}